<div class="butWrap">
        <form action="/sort" method="GET" class="sorter">
        <label id="sort">Sort: </label>
            <select name="sortList">   
                    <option value="/sort/dateold">Old first</option>
                    <option value="/sort/datefirst">New first</option>
                    <option value="/sort/name">Name A-Z</option>
            </select>
                    <input value="Submit" type="submit"></button>
        </form>
        <form action="/show" method="GET" class="shower">
        <label id="show">Show: </label>
            <select name="showDone">   
                    <option value="/">All</option>
                    <option value="/show/done">Done</option>
                    <option value="/show/undone">Undone</option>
            </select>
                    <input value="Submit" type="submit"></button>
        </form>
</div>