$backcol: rgba(169, 169, 169, 0.2);

html {
    font-size: 12pt;
    font-family: sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.904);
    color: darkorange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: black;
    color: darkorange;
}

button:hover {
    background-color: wheat;
    color: black;
    transition: all 0.2s;
}

#headwrap {
    background-color: $backcol;
    width: 70vw;
    height: 120px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    a {
        text-align: center;
        font-size: 1.2rem;
        width: 100%;
        height: 35px;
        text-decoration: none;
        color: darkorange;
        margin: 0 auto;
    }
    #inp {
        font-size: 1.2rem;
        border-radius: 10px;
        border-style: none;
        margin: 2px;
        background-color: black;
        color: darkorange;
        width: 40%;
        height: 30px;
        max-width: 225px;
        min-width: 135px;
    }
    button {
        border-style: none;
        border-radius: 10px;
        box-shadow: 1px 1px 1px $backcol;
        height: 30px;
        width: 20%;
        max-width: 80px;
    }
}

#mainwrap {
    width: 70vw;
    background-color: $backcol;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    .butWrap {
        width: 100%;
        flex-grow: 1;
        margin: 15px;
        form {
            display: flex;
            gap: 15px;
        }
        form label {
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        form input {
            height: 25px;
            width: 80px;
            border-style: none;
            border-radius: 5px;
            box-shadow: 1px 1px 1px $backcol;
            background-color: black;
            color: darkorange;
            cursor: pointer;
        }
        form input:hover {
            background-color: wheat;
            color: black;
            transition: all 0.2s;
        }
        form select {
            background-color: black;
            color: darkorange;
            width: 100px;
            height: 25px;
            border-radius: 5px;
        }
    }

    div {
        width: 50%;
        margin: 0 auto;

        h4 {
            width: 100px;
            margin: 0 auto;
        }
    }

    .list {
        width: 75%;
        flex-direction: column;

        #sort {
            width: 120px;
            margin-bottom: 10px;
            background-color: rgba(169, 169, 169, 0);
            border-style: none;
        }

        .task {
            list-style: none;
            border-radius: 10px;
            padding: 2px;
            cursor: pointer;
            padding: 5px;
            width: 150px;
            transition: all 0.2s;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            .close {
                float: right;
                font-size: 1.2rem;
            }
            .close:hover {
                background-color: salmon;
                border-radius: 30%;
            }
            .linkname {
                flex-grow: 1;
                margin: 0;
            }
        }
        li:hover {
            background-color: wheat;
            border-radius: 10px;
        }
    }
    button {
        height: 35px;
        width: 100px;
        border-style: none;
        border-radius: 10px;
        box-shadow: 1px 1px 1px $backcol;
    }
    .isdone {
        text-decoration: line-through;
    }
}

.list li a {
    text-decoration: none;
    color: darkorange;
}
button {
    cursor: pointer;
}

.editform {
    display: flex;
    margin: 0 auto;
    font-size: 1.2rem;
    gap: 5px;
    margin-bottom: 10px;
    text-align: center;
    #saveBut {
        color: darkorange;
    }
    input {
        height: 35px;
        font-size: 1.2rem;
        border-radius: 10px;
        border-style: none;
        background-color: black;
        color: darkorange;
        text-align: center;
    }
}

.headform {
    margin-left: 10px;
    display: flex;
    gap: 5px;
    input {
        text-align: center;
        height: 35px;
    }
    button {
        margin-top: 2px;
        height: 35px;
    }
}

@media screen and(min-width:768px) {
    #mainwrap {
        flex-direction: initial;
        flex-wrap: wrap;
        width: 70vw;
        max-width: 800px;
    }

    #headwrap {
        width: 70vw;
        max-width: 800px;
    }
}
