<div class="listWrap">
    <h4>To do</h4>
    <ul id="myList" class="list">
        {{#each tasks}}
            {{#unless done}}
                <li class="task">
                    <a
                        href="/checked/{{_id}}"
                        class="linkname"
                    >{{description}}</a>
                    <a href="/edit/{{_id}}" class="close">E</a>
                    <a href="/del/{{_id}}" class="close">X</a>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
</div>
<div class="listWrap">
    <h4>Done</h4>
    <ul id="doneList" class="list">

    </ul>
</div>